body {
  text-align: center;
  background-image: url('../assets/record-player.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(8, 8, 8);
}

fieldset {
  width: 15em;
  text-align: left;
  margin: 20px auto;
}

form {
  width: 20em;
  margin: 0 auto 50px auto;
  padding: 20px;
  background-color: rgba(196, 195, 195, 0.5) ;
}