body {
  text-align: left;
}

h1 {
  text-align: center;
}

dl {
  display: grid;
  margin: auto;
  grid-template-columns: max-content 1fr;
  background-color: rgba(205, 205, 206, 0.781);
  padding: 10px;
}

dt {
  margin: 2px;
  padding: 10px;
  background-color: rgba(60, 60, 252, 0.514);
  text-align: right;
}

dt:after {
  content: ':'
}

dd {
  margin: 2px;
  padding: 10px;
  margin: auto;
}

main {
  width: max-content;
  margin: auto;
}
